.main-content {
    text-align: center;
    padding: 50px 20px;
    background-color: #0C6565;
    flex: 1;
}

.main-content .content-box {
    background-color: #fff;
    border-radius: 90px;
    padding: 60px;
    display: inline-block;
    max-width: 1200px;
    width: 100%;
    text-align: left;
    position: relative;
}

.main-content .content-box .text-content {
    max-width: 900px;
    margin: 0 auto;
}

.main-content .content-box h1 {
    font-size: 56px;
    font-weight: 800;
    color: #2C2C2C;
    line-height: 1;
}

.main-content .content-box p {
    font-size: 22px;
    color: #2C2C2C;
    margin: 20px 0;
    font-weight: 100;
}

.main-content .orange-box {
    background-color: #FE982D;
    border-radius: 90px;
    padding: 30px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    max-width: 900px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -90px;
    display: flex;
    justify-content: space-around;
    width: calc(100% - 120px);
}

.main-content .orange-box .button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content .orange-box .button .start {
    background-color: #fff;
    color: #FE982D;
    border-radius: 20px;
    padding: 15px 30px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
}