<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Результаты космограммы</title>
    <link rel="stylesheet" href="../static/css/styles.css"> <!-- Подключите свой CSS файл -->
</head>
<body>
    <h1>Результаты космограммы</h1>
    <table border="1">
        <tr>
            <th>Планета</th>
            <th>Позиция (Alt/Az)</th>
            <th>Дом</th>
            <th>Знак зодиака</th>
        </tr>
        {% for planet_name, data in positions.items() %}
        <tr>
            <td>{{ planet_name }}</td>
            <td>{{ data["Position (Alt/Az)"] }}</td>
            <td>{{ data["House"] }}</td>
            <td>{{ data["Zodiac Sign"] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('profile') }}">Назад к профилю</a>
</body>
</html>