{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/css/styles.css">
{% endblock %}

{% block content %}
<main>
    <div class="main-content">
        <div class="content-box">
            <div class="text-content">
                <h1>Оценка совместимости для эффективной работы</h1>
                <p>Наш инновационный инструмент помогает оценить совместимость между коллегами, руководителями и подчиненными, а также определить, насколько кандидат подходит компании</p>
            </div>
            <div class="spacer"></div>
            <div class="orange-box">
                <div class="button">
                    Расклад картами Таро
                    <div class="start" onclick="startTarot()">Начать</div>
                </div>
                <div class="button">
                    Расчет космограммы
                    <div class="start" onclick="startKosmo()">Начать</div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}