{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/css/styles.css">
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="texts">
            <div class="title">Оценка совместимости для эффективной работы</div>
            <div class="subtitle">Наш инновационный инструмент помогает оценить совместимость между коллегами, руководителями и подчиненными, а также определить, насколько кандидат подходит компании</div>
        </div>
        <div class="options">
            <div class="option tarot-option">
                <div class="option-title">Расклад картами Таро</div>
                <button class="button">Начать</button>
            </div>
            <div class="option cosmos-option">
                <div class="option-title">Расчет космограммы</div>
                <button class="button">Начать</button>
            </div>
        </div>
    </div>
</main>
{% endblock %}