<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Профиль</title>
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="icon" href="../static/img/favicon.png" type="image/png">
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}" class="site-title"><h1>Re Hub</h1></a>
    </header>
    <main>
      <section class="profile">
        <h2>{{ session['username'] }}</h2>
      </section>
      <section class="change_password">
          <h3 onclick="togglePasswordChange()" style="cursor: pointer;">Изменить пароль</h3>
          <div id="changePasswordSection" style="display: none;">
              <form action="{{ url_for('change_password') }}" method="post">
                  <label for="current_password">Текущий пароль</label>
                  <input type="password" id="current_password" name="current_password" required>

                  <label for="new_password">Новый пароль</label>
                  <input type="password" id="new_password" name="new_password" required>

                  <label for="confirm_password">Подтвердите новый пароль</label>
                  <input type="password" id="confirm_password" name="confirm_password" required>

                  <button type="submit" class="button-update">Обновить пароль</button>
              </form>
          </div>
      </section>
      <section class="email_confirmation">
        <h3 onclick="toggleEmailConfirmation()" style="cursor: pointer;">Подтверждение почты</h3>
        <div id="emailConfirmationSection" style="display: none;">
            <form action="{{ url_for('confirm_email') }}" method="post">
                <label for="email">Ваш email</label>
                <input type="email" id="email" name="email" value="{{ email }}" required>  <!-- Используем переданное значение email -->
    
                <button type="submit" class="button-confirm">Подтвердить почту</button>
            </form>
        </div>
    </section>
      <section class="logout_profile">
        <form action="{{ url_for('logout') }}" method="post">
          <button type="submit" class="button-logout">Выйти из аккаунта</button>
        </form>
      </section>
    </main>
    <!-- Footer с информацией о компании и ссылками на соцсети -->
    <footer>
        <p>&copy; 2024 Re Hub. Все права защищены.</p>
        <div class="social-links">
        <a href="https://t.me/Doma_superbl">Telegram</a>
        </div>
    </footer>
    <script src="../static/js/script.js"></script>
</body>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flash-messages">
      {% for category, message in messages %}
        <li class="flash-message {{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</html>