<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Re Hub - Инновационный рекрутерский инструмент</title>
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="icon" href="../static/img/favicon.png" type="image/png">
</head>
<body>
    <!-- Header с названием сайта и кнопками регистрации и входа -->
    <header>
        <a href="{{ url_for('index') }}" class="site-title"><h1>Re Hub</h1></a>
        <nav>
            {% if 'username' in session %}
            <a href="{{ url_for('profile') }}" class="user-profile">{{ session['username'] }}</a>
                <form action="{{ url_for('logout') }}" method="post" style="display: inline;">
                    <button type="submit" class="button-header">Выйти</button>
                </form>
            {% else %}
                <button class="button-header" onclick="showRegister()">Регистрация</button>
                <button class="button-header" onclick="showLogin()">Вход</button>
            {% endif %}
        </nav>
    </header>

    <!-- Затемнение фона -->
    <div id="registration-overlay" style="display: none;" onclick="hideRegistration()"></div>

    <!-- Форма регистрации -->
    <section id="registration" style="display: none;">
        <h2>Регистрация</h2>
        <form id="registrationForm" action="/register" method="post">
            <label for="username">Имя пользователя</label>
            <input type="text" id="username" name="username" required>
        
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" required>
        
            <button type="submit" class="button-register">Зарегистрироваться</button>
        </form>
        <button onclick="hideRegistration()" class="button-cancel">Отмена</button>
    </section>

    <!-- Затемнение фона для формы логина -->
    <div id="login-overlay" style="display: none;" onclick="hideLogin()"></div>

    <!-- Форма логина -->
    <section id="login" style="display: none;">
        <h2>Вход</h2>
        <form id="loginForm" action="/login" method="post">
            <label for="login-username">Имя пользователя</label>
            <input type="text" id="login-username" name="username" required>
        
            <label for="login-password">Пароль</label>
            <input type="password" id="login-password" name="password" required>
        
            <button type="submit" class="button-login">Войти</button>
        </form>        
        <button onclick="hideLogin()" class="button-cancel-login">Отмена</button>
    </section>

    <!-- Основное тело -->
    <main>
        <section>
            <h2>Расклад картами Таро</h2>
            <form id="tarotForm" action="/tarot_result" method="post">
                <label for="birth-day">День рождения:</label>
                <select id="birth-day" name="birth_day" required>
                    <option value="" disabled {% if not bday %}selected{% endif %}>Выберите день</option>
                    {% for day in range(1, 32) %}
                        <option value="{{ day }}" {% if bday == day %}selected{% endif %}>{{ day }}</option>
                    {% endfor %}
                </select>
            
                <label for="birth-month">Месяц рождения:</label>
                <select id="birth-month" name="birth_month" required>
                    <option value="" disabled {% if not bmonth %}selected{% endif %}>Выберите месяц</option>
                    {% for month in range(1, 13) %}
                        <option value="{{ month }}" {% if bmonth == month %}selected{% endif %}>{{ month }}</option>
                    {% endfor %}
                </select>
            
                <label for="birth-year">Год рождения:</label>
                <select id="birth-year" name="birth_year" required>
                    <option value="" disabled {% if not byear %}selected{% endif %}>Выберите год</option>
                    {% for year in range(1900, 2024) %}
                        <option value="{{ year }}" {% if byear == year %}selected{% endif %}>{{ year }}</option>
                    {% endfor %}
                </select>
            
                <label for="position">Должность:</label>
                <select id="position" name="position" required>
                    <option value="junior" {% if jobpos == 'junior' %}selected{% endif %}>Junior</option>
                    <option value="middle" {% if jobpos == 'middle' %}selected{% endif %}>Middle</option>
                    <option value="senior" {% if jobpos == 'senior' %}selected{% endif %}>Senior</option>
                    <option value="teamlead" {% if jobpos == 'teamlead' %}selected{% endif %}>Team Lead</option>
                </select>
            
                <button type="submit" class="button-tarot">МАГИЯ</button>
            </form>
        </section>
    </main>

    <!-- Footer с информацией о компании и ссылками на соцсети -->
    <footer>
        <p>&copy; 2024 Re Hub. Все права защищены.</p>
        <div class="social-links">
        <a href="https://t.me/Doma_superbl">Telegram</a>
        </div>
    </footer>

    <script src="../static/js/script.js"></script>
</body>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flash-messages">
      {% for category, message in messages %}
        <li class="flash-message {{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</html>